apiVersion: v1
kind: Service
metadata:
  name: {{ include "mysql.fullname" . }}
  labels:
    {{- include "mysql.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  selector:
    {{- include "mysql.selectorLabels" . | nindent 4 }}
  ports:
    - name: mysql
      port: 3306
      targetPort: mysql
      protocol: TCP
